<div class= "container" > 
<h1> Dashboard</h1>

<% classes = Group.all%>
<% classes.each do |classes| %>
    <div class="col-lg-4 col-sm-6 col-xs-12 " >
        <div class="panel panel-<%=classes.color_t%>">
            <div class="panel-heading" onclick="location.href='/groups/<%=classes.id%>';" style="cursor: pointer;">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-left">
                        <div class="panel-heading"><%= classes.title %></div>
                    </div>
                </div>
            </div>
     
            <div class="panel-footer">
                <footer>
                    <span><%= "Created: #{classes.updated_at}" %></span>
                    <span>   |   <%= link_to "Delete Class", group_path(classes), method: :delete, data: {confirm: "Are you  sure you want to delete this class? "} %> </span>      
                </footer>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>       
<% end %>
</div>

<div class = "btn btn-primary" id="button"> Add New Class</div>
<div id="toggleDiv" visibility="hidden" display= "none"><%= render "new_class" %></div>


