<% %>

<h1>All Students</h1>

<% classes = Group.where(user_id: current_user.id)%>
<% classes.each do |class_of|%>
    <% @students.where(group_id: class_of.id).order(:surname).each do |student| %>
        <div class="panel panel-default">
            <div class="panel-heading">Class: <%= Group.find(student.group_id).title %></div>
            <div class="panel-body">Firstname: <%= student.forename %></div>
            <div class="panel-body">Surname: <%= student.surname%></div>
            <div class="panel-body"> Predicted Grade: <%= student.grade_predicted%></div>
            <div class="panel-heading">
                  <footer>
                        <span><%= "Created: #{student.updated_at}" %></span>
                        <span>   |   <%= link_to "Delete student", student_path(student), method: :delete, data: {confirm: "Are you very sure you want to delete this student? "} %> </span>                  
                  </footer>
            </div>
          
        </div>
    <% end %>
<% end %>

