<div class = "container">
<table class = "table table-bordered" style= "background-color: #D9E0E8;">
   <thead>
      <tr>
         <th>Task Name</th>
         <th>Student Name</th>
         <th>Download Link</th>
         <th> Image Preview </th>
      </tr>
   </thead>
   
   <tbody>
      <% @user_files.where(user_id: current_user.id).each do |user_file| %>
         
         <tr>
            <td><%= user_file.name %></td>
            <td><%= user_file.student_name %></td>
            <td><%= link_to "Download File", user_file.attachment_url %></td>
             <td><%= link_to image_tag(user_file.attachment_url, :width => '100px') , user_file.attachment_url %></td>
            <td><%= button_to "Delete",  user_file, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{user_file.name}?" %></td>
         </tr>
         
      <% end %>
   </tbody>
   
</table>
</div>
<div class = "btn btn-primary" id="button">Upload New File</div>

<div id="toggleDiv">
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Upload new File </h3>
                </div>
                <div class="panel-body">
                  <%= form_for @user_file, html: { multipart: true } do |f| %> 
                 <p><%= f.text_field (:name) , class: "form-control", placeholder:"Enter File Name: " %></p>
           <p><%= f.text_field (:student_name) , class: "form-control", placeholder:"Student Name: " %></p>
           <p><%= f.file_field (:attachment) %></p>
            </div>
            <div class="modal-footer">
            <div class="modal-title">
            </div> 
             <%= f.hidden_field :user_id, :value => current_user.id %>
                <span class = "btn btn-default "id="buttoon">Close</span>
                <span><%= f.submit "Upload", :class => "btn btn-success" %></span> 
              </div>
              <% end %>
        </div>
    </div>
  </div>
</div>
</div>
