
<div class "col-xs-12">


<% if not(params["seats_x"].nil? && params["seats_y"].nil?) &&  params["seats_x"].to_i > 0 && params["seats_y"].to_i > 0 %>
	<div class = "container col-xs-12 ">
	<table class = "table table-bordered" style= "background-color: #D9E0E8;">

   		<thread>
			<tr>
			   <%for row in 1..(@seats_y-2) %>
					<%if row == 1 %>
						
						<th>Row</th>
						<%for i in 0..(@seat_layout[row].length-3)	%>
							<th><%= i + 1 %> </th>
						<%end%>
						<th>Row</th>
					<%end%>
			</tr>
		</thread>

		<tbody>
			<td><%=num_to_letter(row)%></td>
			<% row_array = @seat_layout[row].dup %>
			<% row_array.pop; row_array.shift; %>
			<% row_array.each do |col|%>
				<td><%= col %> </td>
			<% end %>
			<th><%=num_to_letter(row)%></th>
				<% end %>
		</tbody>
	</table>
	</div>

<% end%>
</div>
<div class = "container">
<div class = "row">


<% if params["complete_seat_dimensions"] != "true"%>
	<%= form_tag  do %>
	    <%=label_tag 'Seats x' %>
	    <%=text_field_tag 'seats_x'%>

	    <%=label_tag 'Seats y' %>
	    <%=text_field_tag 'seats_y'%>

	    <%=label_tag 'Available seats' %>
	    <%=text_field_tag 'available_seats'%>

	    <%= hidden_field_tag "complete_seat_dimensions", "true" %>
	    <div><%= submit_tag 'Save', name: 'seat_dimension' %></div>
	<% end %>
<% end %>

<% if params["complete_seat_dimensions"] == "true" && params["complete_seat_placement"] != "true" %>
	<%= form_tag  do %>
		<% for i in 1..@available_seats%>
		
			<div class "col-6">
				<%=label_tag "#{i}: Enter Seat Location i.e B3" %>
			    <%=text_field_tag "seat#{i}"%>
			</div> 
		<% end %>
		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats%>
		<div><%= submit_tag 'Submit Seats', name: 'seat_location' %></div>
	<% end %>
<% end %>

<% if params["complete_seat_placement"] == "true" && params["complete_class_details"] != "true"%>
	<%= form_tag do %>
		<%=label_tag "Enter Class Name" %>
		<%=text_field_tag "class_name"%>

		<%=label_tag "Enter amount of Students i.e 5" %>
		<%=text_field_tag "student_num"%>

		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% end %>

		<div><%= submit_tag 'Submit', name: 'student_num_form' %></div>
	<% end %>
<% end %>
	
<% if @student_num > 0 && params["complete_s_list"] != "true"%>
	<%= form_tag do %>
		<% for i in 1..@student_num%>
			<div class "col-6">
				<div class = "row">
				<%=label_tag "#{i}: Enter Student Name:" %>
				</div>
				<%=text_field_tag "student_name#{i}"%>
				<%=label_tag "#{i}: Enter Gender m/f:" %>
				<%=text_field_tag "student_gender#{i}"%>
				<%=label_tag "#{i}: Enter priority of learning:" %>
				<%=text_field_tag "student_level#{i}"%>
				<%=label_tag "#{i}: Enter students to not sit with:" %>
				<%=text_field_tag "student_whitelist#{i}"%>
			</div>
		<% end %>

		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%= hidden_field_tag "complete_s_list", "true" %>
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% end %>
		<%=hidden_field_tag "student_num", @student_num%>
		<%=hidden_field_tag "class_name", @class_name%>

		<div><%= submit_tag 'Submit', name: 'student_num_form' %></div>
		
	<% end %>
<% end %>



<% if params["complete_s_list"] == "true" && params["complete_gender_selection"] != "true"%>
	<%= form_tag do %>

		<%= radio_button_tag("radio_option", "y") %>
		<%= label_tag("gender_option_y", "Sort By Gender") %>
		<%= radio_button_tag("radio_option", "n") %>
		<%= label_tag("gender_option_n", "Do not") %>


		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%= hidden_field_tag "complete_s_list", "true" %>
		<%= hidden_field_tag "complete_gender_selection", "true" %>		
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% for i in 1..@student_num %>
			<%= hidden_field_tag "student_name#{i}", params["student_name#{i}"]%>
			<%= hidden_field_tag "student_gender#{i}", params["student_gender#{i}"]%>
			<%= hidden_field_tag "student_level#{i}", params["student_level#{i}"]%>
			<%= hidden_field_tag "student_whitelist#{i}", params["student_whitelist#{i}"]%>
		<% end %>

		<% end %>
		<%=hidden_field_tag "student_num", @student_num%>
		<%=hidden_field_tag "class_name", @class_name%>

		
		<div><%= submit_tag 'Submit', name: 'student_num_form' %></div>
	<% end %>
<% end %>

<% if params["complete_gender_selection"] == "true" && params["complete_process_selection"] != "true"%>
	<%= form_tag do %>

		<%= radio_button_tag("process_option", "m") %>
		<%= label_tag("process_option_m", "Manually") %>
		<%= radio_button_tag("process_option", "a") %>
		<%= label_tag("process_option_a", "Automatically") %>


		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%= hidden_field_tag "complete_s_list", "true" %>
		<%= hidden_field_tag "complete_gender_selection", "true" %>	
		<%= hidden_field_tag "complete_process_selection", "true" %>		
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% end %>
			<% for i in 1..@student_num %>
			<%= hidden_field_tag "student_name#{i}", params["student_name#{i}"]%>
			<%= hidden_field_tag "student_gender#{i}", params["student_gender#{i}"]%>
			<%= hidden_field_tag "student_level#{i}", params["student_level#{i}"]%>
			<%= hidden_field_tag "student_whitelist#{i}", params["student_whitelist#{i}"]%>
		<% end %>

		<%=hidden_field_tag "student_num", @student_num%>
		<%=hidden_field_tag "class_name", @class_name%>
		<div><%= submit_tag 'Submit', name: 'student_num_form' %></div>
	<% end %>
<% end %>





</div>
		
</div>




<%
# @seats.new
# seat_layout = @seats.seat_layout(@seats.class_layout)
# seat_layout_dup = seat_layout.dup
# s_list_dup = @seats.student_list_data.dup


# # seat_layout = [["○", "○", "○", "○", "○", "○"], ["○", "◉", "◉", "◉", "◉", "○"], ["○", "◉", "○", "○", "◉", "○"], ["○", "◉", "○", "○", "◉", "○"], ["○", "◉", "◉", "◉", "◉", "○"], ["○", "○", "○", "○", "○", "○"]]
# # seat_layout_dup = seat_layout.dup
# # s_list = {"1"=>{"name"=>"Matthew", "gender"=>"M", "level"=>"3", "whitelist"=>"Oliver", "noise"=>"3"}, "2"=>{"name"=>"Oliver", "gender"=>"M", "level"=>"2", "whitelist"=>"Ishak", "noise"=>"2"}, "3"=>{"name"=>"Ishak", "gender"=>"M", "level"=>"1", "whitelist"=>"Zak", "noise"=>"3"}, "4"=>{"name"=>"Sultan", "gender"=>"F", "level"=>"3", "whitelist"=>"Zineb", "noise"=>"1"}, "5"=>{"name"=>"Zineb", "gender"=>"F", "level"=>"3", "whitelist"=>"Hindz", "noise"=>"3"}, "6"=>{"name"=>"Jess", "gender"=>"F", "level"=>"3", "whitelist"=>"Kony", "noise"=>"1"}}
# # s_list_dup = s_list.dup

# # seats.algorithm(seat_layout_dup, s_list_dup)

# main_loop = true
# while main_loop
# 	puts "Enter Data Manually or Automatic with smart algorithm (m/a)"
# 	decision = gets.strip.upcase
# 	if decision== 'M'
# 		seats.manual_list(seat_layout, s_list)
# 		main_loop = false
# 	elsif decision == "A"
# 		seats.algorithm(seat_layout_dup, s_list_dup)
# 		main_loop = false
# 	else
# 		puts "Did not understand, Do again."
# 	end
# end
%>