<div class = "container">
	<h1 align="center"> <%=@class_name%> Seating Plan </h1>
</div>

<span ><%=  link_to "Go Back", "javascript:history.back()" , :class => 'btn btn-danger' %></span>
<% if @seating_plan_done == false%>
	<span id="to_here"></span> 
<% end %>
<span align="right"><%=  link_to "Go Forward", "javascript:history.forward()" , :class => 'btn btn-success' %></span>

<% #TABLE LOAD ALGORITHM %>
<div class "col-xs-12">
<% if params["complete_seat_dimensions"] == "true"%>
<% if not(params["seats_x"].nil? && params["seats_y"].nil?) &&  params["seats_x"].to_i > 0 && params["seats_y"].to_i > 0 %>
	<div class = "container col-xs-12 ">
	<table class = "table table-bordered" style= "background-color: #D9E0E8; width:100%;">
   		<thread>
			<tr >
			   <%for row in 1..(@seats_y-2) %>
					<%if row == 1 %>
						
						<th style="text-align:center">Row</th>
						<%for i in 0..(@seat_layout[row].length-3)	%>
							<th style="text-align:center"><%= i + 1 %> </th>
						<%end%>
						<th style="text-align:center">Row</th>
					<%end%>

			</tr>
		</thread>
		<tbody>
						<th style="text-align:right"><%=num_to_letter(row)%></th>
						<% row_array = @seat_layout[row].dup %>
						<% row_array.pop; row_array.shift; %>
						<% row_array.each do |col|%>
							<% if col == @no_seat%>
								<td style="background-color:black;"></td>
							<% elsif col == @yes_seat%>
								<td style="background-color:white;"></td>
							<% else %>
								<% if col != @yes_seat && col != @no_seat%>
									<td style="background-color:white;"><%= @s_list[col]["name"] %> </td>
								<% else %>
									<td><%= col %> </td>
								<% end %>
							<% end %>
						<% end %>
						<th style="text-align:left"><%=num_to_letter(row)%></th>
				<% end %>
		</tbody>
	</table>
	</div>
<% end%>
<% end %>
</div>


<div class = "container">
<div class = 'row'>
<div class = "col-sm-4 col-xs-12 col-sm-offset-4">
<% if params["complete_seat_dimensions"] != "true"%>

	<%= form_tag  do %>
		
	    <%=text_field_tag 'seats_y',nil, class: 'form-control', placeholder: 'Seat Row:', style: "width:100%"%>
	    <%=text_field_tag 'seats_x',nil, class: 'form-control', placeholder: 'Seat Column:', style: "width:100%"%>
	    <%=text_field_tag 'available_seats',nil, class: 'form-control', placeholder: 'Available Seats:', style: "width:100%"%>

	    <%= hidden_field_tag "complete_seat_dimensions", "true" %>
	    <span id="from_here"><%= submit_tag 'Submit', class:"btn btn-primary", value:"Submit", style: "width:100%" %></span>
	<% end %>
<% end %>
</div>
</div>

<div class = "row">
	
<% if params["complete_seat_dimensions"] == "true" && params["complete_seat_placement"] != "true" %>
	<%= form_tag  do %>

		<% for i in 1..@available_seats%>
			<div class = "col-sm-6 col-xs-12 col-md-4">
			<div class="panel panel-default">
			<div class="panel-heading">
				<div><%=label_tag "Seat #{i}:" %> </div>
			</div>
			    <%=text_field_tag("seat#{i}",nil, class: 'form-control', placeholder: "Seat Position:", style: "width:100%")%>
			</div>
			</div>
		<% end %>
		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats%>
	    <span id="from_here"><%= submit_tag 'Submit', class:"btn btn-primary", value:"Submit", style: "width:100%" %></span>
	<% end %>
<% end %>

<div class = "row">
<div class = "col-sm-4 col-xs-12 col-sm-offset-4">
<% if params["complete_seat_placement"] == "true" && params["complete_class_details"] != "true"%>
	<%= form_tag seating_plan_path , method: :post, :class => "form-inline" do %>
		<%=text_field_tag "class_name",nil, class: 'form-control', placeholder: 'Class Name:', style: "width:100%"%>
		<%=text_field_tag "student_num",nil, class: 'form-control', placeholder: 'Number Of Students:', style: "width:100%"%>

		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% end %>

		<span id="from_here"><%= submit_tag 'Submit', class:"btn btn-primary", value:"Submit", style: "width:100%" %></span>
	<% end %>
<% end %>
</div>
</div>

<div class = "row">
<% if @student_num > 0 && params["complete_s_list"] != "true"%>
	<%= form_tag seating_plan_path, method: :post, :class=> "form-inline" do %>
		<% for i in 1..@student_num%>
			<div class = "col-sm-4 col-xs-12">
			<div class="panel panel-default">	
			<div class="panel-heading">
			<div><%=label_tag "Student #{i}:" %> </div>
			</div>
			<div class="panel-body">
			<div><%=text_field_tag("student_name#{i}",nil, class: 'form-control', placeholder: 'Student Name:', style: "width:100%")%></div>
			<div><%=text_field_tag "student_gender#{i}",nil, class: 'form-control', placeholder: 'Student Gender m/f:', style: "width:100%"%></div>
			<div><%=text_field_tag "student_level#{i}",nil, class: 'form-control', placeholder: 'Priority Learning level 1-3',style: "width:100%"%></div>
			<div><%=text_field_tag "student_whitelist#{i}",nil, class: 'form-control', placeholder: 'Student to not pair:', style: "width:100%"%></div>
			</div>
			</div>
			</div>
		<% end %>

		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%= hidden_field_tag "complete_s_list", "true" %>
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% end %>
		<%=hidden_field_tag "student_num", @student_num%>
		<%=hidden_field_tag "class_name", @class_name%>
		<span id="from_here"><%= submit_tag 'Submit', class:"btn btn-primary", value:"Submit", style: "width:100%" %></span>	
	<% end %>
<% end %>
</div>


<% if params["complete_s_list"] == "true" && params["complete_gender_selection"] != "true"%>
	<%= form_tag do %>
		<div class="btn-group">
			<%= radio_button_tag("gender_option", "Y")%>
			<label for="gender_option_Y" class="btn btn-primary">Sort By Gender</label>
			<%= radio_button_tag("gender_option", "N") %>
  			<label for="gender_option_N" class="btn btn-primary">Do Not</label>
		</div>


		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%= hidden_field_tag "complete_s_list", "true" %>
		<%= hidden_field_tag "complete_gender_selection", "true" %>		
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
			<% for i in 1..@student_num %>
				<%= hidden_field_tag "student_name#{i}", params["student_name#{i}"]%>
				<%= hidden_field_tag "student_gender#{i}", params["student_gender#{i}"]%>
				<%= hidden_field_tag "student_level#{i}", params["student_level#{i}"]%>
				<%= hidden_field_tag "student_whitelist#{i}", params["student_whitelist#{i}"]%>
			<% end %>

		<% end %>
		<%=hidden_field_tag "student_num", @student_num%>
		<%=hidden_field_tag "class_name", @class_name%>

		
		<span id="from_here"><%= submit_tag 'Submit', class:"btn btn-primary", value:"Submit", style: "width:100%" %></span>
	<% end %>
<% end %>

<% if params["complete_gender_selection"] == "true" && params["complete_process_selection"] != "true"%>
	<%= form_tag do %>


		<div class="btn-group">
		<%= radio_button_tag("process_option", "M")%>
		<label for="process_option_M" class="btn btn-primary">Manual Mode</label>
		<%= radio_button_tag("process_option", "A") %>
			<label for="process_option_A" class="btn btn-primary">Automatic Mode</label>
		</div>


		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%= hidden_field_tag "complete_s_list", "true" %>
		<%= hidden_field_tag "complete_gender_selection", "true" %>	
		<%= hidden_field_tag "complete_process_selection", "true" %>		
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% end %>
			<% for i in 1..@student_num %>
			<%= hidden_field_tag "student_name#{i}", params["student_name#{i}"]%>
			<%= hidden_field_tag "student_gender#{i}", params["student_gender#{i}"]%>
			<%= hidden_field_tag "student_level#{i}", params["student_level#{i}"]%>
			<%= hidden_field_tag "student_whitelist#{i}", params["student_whitelist#{i}"]%>
		<% end %>

		<%= hidden_field_tag "gender_option", params["gender_option"] %>
		<%=hidden_field_tag "student_num", @student_num%>
		<%=hidden_field_tag "class_name", @class_name%>
		<span id="from_here"><%= submit_tag 'Submit', class:"btn btn-primary", value:"Submit", style: "width:100%" %></span>
	<% end %>
<% end %>

	<% if (params["complete_process_selection"] == "true" && 
		params["complete_manual_student_placement"] != "true" && params["process_option"].strip.upcase == "M")%> 
		<%= form_tag do %>

			<% for i in 0..@student_num-1%>
		
			<div class = "col-sm-6 col-xs-12 col-md-4">
			<div class="panel panel-default">
			<div class="panel-heading">
				<div><%=label_tag "#{i+1}: Enter Student Location for #{(@s_list.to_a)[i][1]["name"]}" %></div>
			</div>
			    <%=text_field_tag "student_seat#{i+1}",nil, class: 'form-control', placeholder: "Seat Position:", style: "width:100%"%>
			</div>
			</div>
			<% end %>


			<%= hidden_field_tag "complete_seat_dimensions", "true" %>
			<%= hidden_field_tag "complete_seat_placement", "true" %>
			<%= hidden_field_tag "complete_class_details", "true" %>
			<%= hidden_field_tag "complete_s_list", "true" %>
			<%= hidden_field_tag "complete_gender_selection", "true" %>	
			<%= hidden_field_tag "complete_process_selection", "true" %>	
			<%= hidden_field_tag "complete_manual_student_placement", "true" %>		
			<%=hidden_field_tag "seats_x", @seats_x-2%>
		    <%=hidden_field_tag "seats_y", @seats_y-2%>
		    <%=hidden_field_tag "available_seats", @available_seats %>
		    <% for i in 1..@available_seats%>
				<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
			<% end %>
			<% for i in 1..@student_num %>
				<%= hidden_field_tag "student_name#{i}", params["student_name#{i}"]%>
				<%= hidden_field_tag "student_gender#{i}", params["student_gender#{i}"]%>
				<%= hidden_field_tag "student_level#{i}", params["student_level#{i}"]%>
				<%= hidden_field_tag "student_whitelist#{i}", params["student_whitelist#{i}"]%>
			<% end %>

			<%=hidden_field_tag "student_num", @student_num%>
			<%=hidden_field_tag "class_name", @class_name%>

			<%= hidden_field_tag "gender_option", params["gender_option"] %>
			<%= hidden_field_tag "process_option", params["process_option"] %>

			<span id="from_here"><%= submit_tag 'Submit', class:"btn btn-primary", value:"Submit", style: "width:100%" %></span>
		<% end %>
	<% end %>

</div>
</div>



















		

