<div class = "container">
	<h1 align="center"> <%=@class_name%> Seating Plan </h1>
</div>
<div class "col-xs-12">


<% if not(params["seats_x"].nil? && params["seats_y"].nil?) &&  params["seats_x"].to_i > 0 && params["seats_y"].to_i > 0 %>
	<div class = "container col-xs-12 ">
	<table class = "table table-bordered" style= "background-color: #D9E0E8;">

   		<thread>
			<tr>
			   <%for row in 1..(@seats_y-2) %>
					<%if row == 1 %>
						
						<th>Row</th>
						<%for i in 0..(@seat_layout[row].length-3)	%>
							<th><%= i + 1 %> </th>
						<%end%>
						<th>Row</th>
					<%end%>
			</tr>
		</thread>

		<tbody>
			<th><%=num_to_letter(row)%></th>
			<% row_array = @seat_layout[row].dup %>
			<% row_array.pop; row_array.shift; %>
			<% row_array.each do |col|%>
				<td><%= col %> </td>
			<% end %>
			<th><%=num_to_letter(row)%></th>
				<% end %>
		</tbody>
	</table>
	</div>

<% end%>
</div>
<div class = "container">
<div class = "row">


<% if params["complete_seat_dimensions"] != "true"%>
	<%= form_tag  do %>
	    <%=label_tag 'Seats x' %>
	    <%=text_field_tag 'seats_x'%>

	    <%=label_tag 'Seats y' %>
	    <%=text_field_tag 'seats_y'%>

	    <%=label_tag 'Available seats' %>
	    <%=text_field_tag 'available_seats'%>

	    <%= hidden_field_tag "complete_seat_dimensions", "true" %>
	    <div><%= submit_tag 'Save' %></div>
	<% end %>
<% end %>

<% if params["complete_seat_dimensions"] == "true" && params["complete_seat_placement"] != "true" %>
	<%= form_tag  do %>
		<% for i in 1..@available_seats%>
		
			<div class "col-6">
				<%=label_tag "#{i}: Enter Seat Location i.e B3" %>
			    <%=text_field_tag "seat#{i}"%>
			</div> 
		<% end %>
		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats%>
		<div><%= submit_tag 'Submit Seats' %></div>
	<% end %>
<% end %>

<% if params["complete_seat_placement"] == "true" && params["complete_class_details"] != "true"%>
	<%= form_tag do %>
		<%=label_tag "Enter Class Name" %>
		<%=text_field_tag "class_name"%>

		<%=label_tag "Enter amount of Students i.e 5" %>
		<%=text_field_tag "student_num"%>

		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% end %>

		<div><%= submit_tag 'Submit' %></div>
	<% end %>
<% end %>
	
<% if @student_num > 0 && params["complete_s_list"] != "true"%>
	<%= form_tag do %>
		<% for i in 1..@student_num%>
			<div class "col-6">
				<div class = "row">
				<%=label_tag "#{i}: Enter Student Name:" %>
				</div>
				<%=text_field_tag "student_name#{i}"%>
				<%=label_tag "#{i}: Enter Gender m/f:" %>
				<%=text_field_tag "student_gender#{i}"%>
				<%=label_tag "#{i}: Enter priority of learning:" %>
				<%=text_field_tag "student_level#{i}"%>
				<%=label_tag "#{i}: Enter students to not sit with:" %>
				<%=text_field_tag "student_whitelist#{i}"%>
			</div>
		<% end %>

		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%= hidden_field_tag "complete_s_list", "true" %>
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% end %>
		<%=hidden_field_tag "student_num", @student_num%>
		<%=hidden_field_tag "class_name", @class_name%>

		<div><%= submit_tag 'Submit'%></div>
		
	<% end %>
<% end %>



<% if params["complete_s_list"] == "true" && params["complete_gender_selection"] != "true"%>
	<%= form_tag do %>

		<%= radio_button_tag("radio_option", "y") %>
		<%= label_tag("gender_option_y", "Sort By Gender") %>
		<%= radio_button_tag("radio_option", "n") %>
		<%= label_tag("gender_option_n", "Do not") %>


		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%= hidden_field_tag "complete_s_list", "true" %>
		<%= hidden_field_tag "complete_gender_selection", "true" %>		
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% for i in 1..@student_num %>
			<%= hidden_field_tag "student_name#{i}", params["student_name#{i}"]%>
			<%= hidden_field_tag "student_gender#{i}", params["student_gender#{i}"]%>
			<%= hidden_field_tag "student_level#{i}", params["student_level#{i}"]%>
			<%= hidden_field_tag "student_whitelist#{i}", params["student_whitelist#{i}"]%>
		<% end %>

		<% end %>
		<%=hidden_field_tag "student_num", @student_num%>
		<%=hidden_field_tag "class_name", @class_name%>

		
		<div><%= submit_tag 'Submit'%></div>
	<% end %>
<% end %>

<% if params["complete_gender_selection"] == "true" && params["complete_process_selection"] != "true"%>
	<%= form_tag do %>

		<%= radio_button_tag("process_option", "m") %>
		<%= label_tag("process_option_m", "Manually") %>
		<%= radio_button_tag("process_option", "a") %>
		<%= label_tag("process_option_a", "Automatically") %>


		<%= hidden_field_tag "complete_seat_dimensions", "true" %>
		<%= hidden_field_tag "complete_seat_placement", "true" %>
		<%= hidden_field_tag "complete_class_details", "true" %>
		<%= hidden_field_tag "complete_s_list", "true" %>
		<%= hidden_field_tag "complete_gender_selection", "true" %>	
		<%= hidden_field_tag "complete_process_selection", "true" %>		
		<%=hidden_field_tag "seats_x", @seats_x-2%>
	    <%=hidden_field_tag "seats_y", @seats_y-2%>
	    <%=hidden_field_tag "available_seats", @available_seats %>
	    <% for i in 1..@available_seats%>
			<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
		<% end %>
			<% for i in 1..@student_num %>
			<%= hidden_field_tag "student_name#{i}", params["student_name#{i}"]%>
			<%= hidden_field_tag "student_gender#{i}", params["student_gender#{i}"]%>
			<%= hidden_field_tag "student_level#{i}", params["student_level#{i}"]%>
			<%= hidden_field_tag "student_whitelist#{i}", params["student_whitelist#{i}"]%>
		<% end %>

		<%=hidden_field_tag "student_num", @student_num%>
		<%=hidden_field_tag "class_name", @class_name%>
		<div><%= submit_tag 'Submit'%></div>
	<% end %>
<% end %>

	<% if params["complete_process_selection"] == "true" && params["complete_manual_student_placement"] != "true"%>
		<%= form_tag do %>

			<% for i in 0..@student_num-1%>
		
			<div class "row">
				<%=label_tag "#{i+1}: Enter Student Location for #{(@s_list.to_a)[i][1]["name"]}" %>
			    <%=text_field_tag "student_seat#{i+1}"%>
			</div>

			<% end %>


			<%= hidden_field_tag "complete_seat_dimensions", "true" %>
			<%= hidden_field_tag "complete_seat_placement", "true" %>
			<%= hidden_field_tag "complete_class_details", "true" %>
			<%= hidden_field_tag "complete_s_list", "true" %>
			<%= hidden_field_tag "complete_gender_selection", "true" %>	
			<%= hidden_field_tag "complete_process_selection", "true" %>	
			<%= hidden_field_tag "complete_manual_student_placement", "true" %>		
			<%=hidden_field_tag "seats_x", @seats_x-2%>
		    <%=hidden_field_tag "seats_y", @seats_y-2%>
		    <%=hidden_field_tag "available_seats", @available_seats %>
		    <% for i in 1..@available_seats%>
				<%=hidden_field_tag "seat#{i}", seat_position_params(i)%>
			<% end %>
			<% for i in 1..@student_num %>
				<%= hidden_field_tag "student_name#{i}", params["student_name#{i}"]%>
				<%= hidden_field_tag "student_gender#{i}", params["student_gender#{i}"]%>
				<%= hidden_field_tag "student_level#{i}", params["student_level#{i}"]%>
				<%= hidden_field_tag "student_whitelist#{i}", params["student_whitelist#{i}"]%>
			<% end %>

			<%=hidden_field_tag "student_num", @student_num%>
			<%=hidden_field_tag "class_name", @class_name%>

			<%= hidden_field_tag "process_option", params["process_option"] %>

			<div><%= submit_tag 'Submit' %></div> 
		<% end %>
	<% end %>

<h3>
<%= @yes_seat%> = Available seat
</h3>
<h3>
<%= @no_seat%> = Unavailable seat
</h3>

<span><%=  link_to "Go Back", "javascript:history.back()" , :class => 'btn btn-danger' %></span>
<span><%=  link_to "Go Forward", "javascript:history.forward()" , :class => 'btn btn-success' %></span>

</div>		
</div>
