<!DOCTYPE html>
<html>
<head>
  <title>StudentBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
        <% if logged_in? %>
            <%= link_to "Profile", user_path(current_user) %> | 
            <%= link_to "Log out", logout_path, method: "delete"  %>

        <% else %>
            <%= link_to "Log in", login_path %> | 
            <%= link_to "Sign up", new_user_path %>
        <% end %>


       <div class="container">
            <% flash.each do |name, msg| -%>
              <%= content_tag :div, msg, class: name %>
            <% end -%>
            <div><a href="/">Homepage</a></div>
            <%= yield %>
        </div>




</body>
</html>
