<html>
<head>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>

          <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Student Book</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="dist/css/AdminLTE.min.css">

    <link rel="stylesheet" href="dist/css/skins/skin-blue.min.css">


  </head>



</head>

<!DOCTYPE html>



  <head>
       


    <body class="skin-blue">
 

      <!-- Main Header -->
      <header class="main-header">

        <!-- Logo -->
        <a href="/dashboard" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <!-- logo for regular state and mobile devices -->
          <span class="logo"><b>Student</b>Book</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
      
          <!-- Navbar Right Menu -->

      
        </nav>
      </header>
              

            
        <!-- Main content -->
        <section class="content">

          <!-- Your Page Content Here -->
             <ul class= "nav nav-tabs">
            <% flash.each do |name, msg| -%>
            <% msg = msg.split%>
            <%msg.each do |msgi| %>
              <%= content_tag :div, raw(msgi.join('<br>')), class: "success" %>
            <% end %>
            <% end -%>
          </ul>
          <%= yield %>

        </section><!-- /.content -->
      ><!-- /.content-wrapper -->


      <!-- Main Footer -->
      <div class="navbar navbar-fixed-bottom">
        <!-- To the right -->
        <div class="pull-right hidden-xs visible-xl">
          <strong>Copyright &copy; 2016 <a href="#">StudentBook Inc.</a>.</strong> All rights reserved.

        </div>

      <!-- Add the sidebar's background. This div must be placed
           immediately after the control sidebar -->
      <div class="control-sidebar-bg"></div>
    </div><!-- ./wrapper -->

    <!-- REQUIRED JS SCRIPTS -->

    <!-- jQuery 2.1.4 -->
    <script src="plugins/jQuery/jQuery-2.1.4.min.js"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="dist/js/app.min.js"></script>

    <!-- Optionally, you can add Slimscroll and FastClick plugins.
         Both of these plugins are recommended to enhance the
         user experience. Slimscroll is required when using the
         fixed layout. -->



</body>

         

